---
import AboutMotion from '../AboutMotion';
import TechStack from '../TechStack.astro';
import StarBackground from '../StarBackground';

const techStack = [
    "Laravel",
    "Golang",
    "NextJS",
    "SvelteKit",
    "Astro",
    "React",
    "Javascript",
    "Typescript",
    "InertiaJS",
    "Bun",
    "Hono",
    "PHP",
    "Java",
    "Python",
    "TailwindCSS",
    "Bootstrap",
    "Prisma",
    "MySQL",
    "PostgreSQL",
    "Redis",
    "Docker"
];
---
<section
        class="w-full h-screen max-xl:h-fit pb-20 max-md:px-4 bg-linear-to-b from-black via-gray-950 to-gray-900 px-16 max-sm:px-8 flex justify-center items-center relative overflow-hidden"
        id="about"
>
    <StarBackground client:visible/>
    <AboutMotion client:idle>
        {
            techStack.map((tech: string) => (
                    <TechStack tech={tech} size="medium"/>
            ))
        }
    </AboutMotion>
</section>
