---
import { getCollection } from "astro:content";
import AboutMotion from "../AboutMotion";
import StarBackground from "../StarBackground";
import TechStackCategory from "../TechStackCategory";

// Get tech stack from content collection
const techstackRaw = await getCollection("techstack");
const techStackCategories = techstackRaw.sort((a, b) => a.data.order - b.data.order);
---

<section
    class="w-full min-h-screen max-xl:h-fit pb-20 max-md:px-4 bg-linear-to-b from-black via-gray-950 to-gray-900 px-16 max-sm:px-8 flex justify-center items-center relative z-10"
    id="about"
>
    <StarBackground client:visible />
    <AboutMotion client:idle>
        {
            techStackCategories.map((category) => (
                <TechStackCategory
                    title={category.data.title}
                    items={category.data.items}
                    size="medium"
                    client:idle
                />
            ))
        }
    </AboutMotion>
</section>
