---
import { Image } from "astro:assets";
import rinGif from "@/assets/rin.gif";
import { FileUser } from "lucide-react";
import SliderHome from "../SliderHome";
---

<section class="w-full h-screen overflow-hidden relative flex justify-center px-16 max-md:px-4" id="home">
    <div class="flex justify-center lg:justify-between h-full items-center w-full max-w-6xl py-16 z-10 lg:gap-10 max-lg:flex-col-reverse max-md:gap-4 max-lg:gap-10 max-lg:py-8">
        <div class="flex flex-col gap-6 lg:w-1/2 xl:w-[55%] max-lg:w-full max-lg:px-10 max-md:px-0">
            <h1 class="text-6xl font-bold text-white max-md:text-4xl max-sm:text-3xl text-wrap leading-tight">Hello, I'm <span
                    class="text-[#CDA6ED]">
                <span class="text-retro"><</span>Syahrul<span
                    class="text-retro">/></span>
                <br class="max-lg:hidden"> Bhudi Ferdiansyah</span>
            </h1>
            <div class="text-3xl text-white flex gap-3 items-center max-sm:text-lg">
                <p class="whitespace-nowrap">I'm a</p>
                <SliderHome client:idle/>
            </div>
            <a
                    href="assets/cv_syahrul.pdf"
                    download="Syahrul_CV.pdf"
                    class="px-6 py-2 w-fit mt-8 font-bold max-sm:p-3 max-sm:text-sm bg-purple-800 shadow-box text-white rounded-md flex gap-2 items-center transition-transform duration-300 ease-in-out hover:-translate-y-1"
            >
                Download My CV
                <FileUser size={20}/>
            </a>
        </div>
        <Image src={rinGif} alt="Animated illustration of Rin character waving"
               class="rounded max-lg:w-[90%] max-md:w-full lg:w-[46%] xl:w-[42%] object-fill border-purple-800 border-2 p-2 shadow-lg shadow-purple-900"
               loading="eager"
               fetchpriority={"high"}/>
    </div>
</section>
