---
import SliderHome from '../SliderHome';
import rinGif from '@/assets/rin.gif';
import ParticlesHome from '../ParticlesHome';
import { Image } from 'astro:assets';
---

<section class="w-full h-screen overflow-hidden relative overflow-hidden" id="home">
    <ParticlesHome client:load/>
    <div class="flex justify-center h-full items-center p-16 z-10">
        <div class="w-1/2">
            <h1 class="text-6xl font-bold text-white">Hello, I'm <span
                    class="text-[#CDA6ED]"><span class="text-retro"><</span>Syahrul<span
                    class="text-retro">/></span><br> Bhudi Ferdiansyah</span></h1>
            <div class="text-3xl text-white flex gap-3 items-center">
                <p class="whitespace-nowrap">I'm a</p>
                <SliderHome client:load/>
            </div>
        </div>
        <div class="rounded border-purple-800 border-2 p-2 shadow-lg shadow-purple-900">
            <Image src={rinGif} alt="Rin Gif" class="rounded" loading="eager"/>
        </div>
    </div>
</section>