---
import { getCollection } from "astro:content";
import ProjectsContainer from "@/components/ProjectsContainer";
import type { Project } from "@/model/projects";

const personalProjects = await getCollection("projects");
const sortedPersonalProjects = personalProjects.sort((a: Project, b: Project) =>
  a.data.date > b.data.date ? -1 : 1,
);

const initialProjects = sortedPersonalProjects.slice(0, 3);
const remainingProjects = sortedPersonalProjects.slice(3);
---
<section
        class="text-white w-full h-fit flex justify-center relative z-10 px-16 max-md:px-4 pb-26"
        id="projects">
    <div class="flex flex-col gap-10 max-md:gap-14 z-10 items-center w-full max-w-6xl">
        <p class="text-retro text-6xl max-sm:text-5xl">Projects</p>
        <ProjectsContainer
                initialProjects={initialProjects}
                remainingProjects={remainingProjects}
                client:idle
        />
    </div>
</section>
