---
import Project from "@/components/content/Project.astro";
import SplashScreen from "../components/SplashScreen";
import About from "../components/content/About.astro";
import Experience from "../components/content/Experience.astro";
import Home from "../components/content/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<div>
    <SplashScreen client:load/>
    <Layout>
        <Home/>
        <About/>
        <Project/>
        <Experience/>
    </Layout>
</div>
