---
import Layout from '../layouts/Layout.astro';
import Home from "../components/content/Home.astro";
import About from "../components/content/About.astro";
import Project from '@/components/content/Project.astro';
import Experience from "../components/content/Experience.astro";
import SplashScreen from "../components/SplashScreen";
---

<div>
    <!--<SplashScreen client:idle/>-->
    <Layout>
        <Home/>
        <About/>
        <Project/>
        <Experience/>
    </Layout>
</div>
