---
import NavbarItem from './NavbarItem';
---

<nav class="fixed bottom-0 left-0 right-0 items-center flex justify-center w-full rounded-t-lg shadow-md backdrop-blur-[10px] bg-linear-to-t from-black to-transparent z-25">
    <ul class="flex justify-evenly items-center pb-5 pt-3 text-white">
        <NavbarItem client:load href="#home" label="Home"/>
        <NavbarItem client:load href="#about" label="About"/>
        <NavbarItem client:load href="#projects" label="Projects"/>
        <NavbarItem client:load href="#experience" label="Experience"/>
    </ul>
</nav>