---
import NavbarItem from './NavbarItem';
---

<nav class="fixed bottom-2 left-0 right-0 z-10 items-center flex justify-center w-full rounded-t-lg shadow-md">
    <ul class="flex justify-evenly items-center py-3 text-white">
        <NavbarItem client:load href="#home" label="Home"/>
        <NavbarItem client:load href="#about" label="About"/>
        <NavbarItem client:load href="#projects" label="Projects"/>
        <NavbarItem client:load href="#experience" label="Experience"/>
    </ul>
</nav>