---
import '@/styles/globals.css'
import Navbar from "../components/Navbar.astro";
import SpeedInsights from "@vercel/speed-insights/astro"
import logo from '@/assets/logo.svg';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <meta name="generator" content={Astro.generator}/>
    <title>Syahrul Portofolio</title>
    <meta name="description" content="Syahrul Portofolio"/>
    <meta name="author" content="Syahrul Bhudi Ferdiansyah"/>
    <meta name="keywords" content="Syahrul, Bhudi, Ferdiansyah, Portofolio, Web Developer, Software Engineer"/>
    <link rel="preload" href="../assets/rin.gif" as="image"/>
</head>
<body class="bg-black overflow-x-hidden">
<slot/>
<Navbar/>
<SpeedInsights/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
